@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Lato:ital,wght@0,400;1,300;1,400&family=Orelega+One&family=Playball&family=Roboto:ital,wght@0,700;1,700;1,900&display=swap");

.myContainer {
  @apply md:px-10 px-4 mx-auto;
}
.nav__link {
  @apply hover:text-primary hover:border-b hover:border-primary py-1 sm:my-0 my-2 sm:text-xl md:text-xl text-sm font-medium text-white uppercase;
}
.active {
  @apply font-bold border-b-2 text-primary border-primary;
}
.home-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #1d1d1d14, #02020f 88%);
  z-index: 1;
}
.home-container > * {
  position: relative;
  z-index: 2; /* Ensure the content is above the overlay */
}
